@page "/logs/moderation/banlogs"
@using AGC_Management.Utils
@attribute [Authorize(Roles = "BotOwner, Administrator, HeadMod, Moderator, Supporter")]
@inject IJSRuntime JSRuntime
<h3>Bann Logs</h3>

@if (!loaded)
{
    <h2>Loading... <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></h2>
}
else if (!hasLogs && loaded)
{
    <h2>Es sind keine Logs vorhanden.</h2>
}
else
{
    <div style="max-width: 1200px" class="dashboard-logs">
        <table class="table table-responsive table-striped">
            <thead>
            <tr>
                <th>User</th>
                <th>Moderator</th>
                <th>Grund</th>
                <th>Zeit</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var log in displayedLogs)
            {
                <tr>
                    <td @onclick="async () => await ShowToastAndCopyToClipboard(log.UserId.ToString())" title="@log.UserId.ToString()" class="wrap-text">@GetUsernameOrId(log.UserId).GetAwaiter().GetResult()</td>
                    <td @onclick="async () => await ShowToastAndCopyToClipboard(log.ExecutorId.ToString())" title="@log.ExecutorId.ToString()" class="wrap-text">@GetUsernameOrId(log.ExecutorId, true).GetAwaiter().GetResult()</td>
                    <td class="wrap-text">@log.Reason</td>
                    <td class="wrap-text">@Converter.GetDateFromTimestamp((long)log.UnixTime)</td>
                </tr>
            }
            </tbody>
        </table>
        <div class="pagination-lg">
            <div class="page-info">Seite @currentPage von @totalPages</div>
            <button class="btn btn-primary" @onclick="PreviousPage" disabled="@IsFirstPage">Vorherige Seite</button>
            <button class="btn btn-primary" @onclick="NextPage" disabled="@IsLastPage">Nächste Seite</button>
        </div>
    </div>

    <Snackbar @ref="snackbar" Color="SnackbarColor.Dark">
        <SnackbarBody>
            User ID wurde in die Zwischenablage kopiert.
            <SnackbarAction Clicked="@(() => snackbar.Hide())">Ok.</SnackbarAction>
        </SnackbarBody>
    </Snackbar>
}

@code {
    private Snackbar snackbar;
    private bool loaded;
    private bool hasLogs;
    private readonly int itemsPerPage = 25;
    private List<BanLogDatabaseItem> logs = new();
    private List<BanLogDatabaseItem> displayedLogs => logs.Skip((currentPage - 1) * itemsPerPage).Take(itemsPerPage).ToList();

    private bool IsFirstPage => currentPage == 1;
    private bool IsLastPage => currentPage * itemsPerPage >= totalItems;

    private int currentPage = 1;
    private int totalItems;
    private int totalPages => (int)Math.Ceiling((double)totalItems / itemsPerPage);

    protected override async Task OnInitializedAsync()
    {
        await LoadLogs();
        totalItems = logs.Count;

        loaded = true;
    }

    private async Task LoadLogs()
    {
        logs = new List<BanLogDatabaseItem>();

        // Load logs from database
        var connection = CurrentApplication.ServiceProvider.GetRequiredService<NpgsqlDataSource>();
        await using var command = connection.CreateCommand();
        command.CommandText = "SELECT userid, executorid, reason, timestamp FROM banlogs ORDER BY timestamp DESC";
        await using var reader = await command.ExecuteReaderAsync();
        while (await reader.ReadAsync())
        {
            var toUserId = reader.GetInt64(0);
            var executorId = reader.GetInt64(1);
            var reason = reader.GetString(2);
            var timestamp = reader.GetInt64(3);


            logs.Add(new BanLogDatabaseItem
            {
                UserId = (ulong)toUserId,
                ExecutorId = (ulong)executorId,
                Reason = reason,
                UnixTime = (ulong)timestamp
            });
        }

        hasLogs = logs.Count > 0;
    }


    private async Task ShowToastAndCopyToClipboard(string userId)
    {
        await snackbar.Show();
        await JSRuntime.InvokeVoidAsync("copyToClipboard", userId);
    }


    private async Task<string> GetUsernameOrId(ulong userId, bool fetch = false)
    {
        try
        {
            var isCached = await ToolSet.IsUserInCache(userId);
            if (isCached)
            {
                return CurrentApplication.DiscordClient.UserCache[userId].Username;
            }

            if (!fetch) return userId.ToString();
            var user = await CurrentApplication.DiscordClient.GetUserAsync(userId);
            var ismig = user.IsMigrated;
            if (ismig)
            {
                return user.Username;
            }

            return user.UsernameWithDiscriminator;
        }
        catch (Exception)
        {
            return userId.ToString();
        }
    }


    private void PreviousPage()
    {
        if (currentPage > 1)
        {
            currentPage--;
        }
    }

    private void NextPage()
    {
        if (currentPage < totalPages)
        {
            currentPage++;
        }
    }


    // entities

    private class BanLogDatabaseItem
    {
        public ulong UserId { get; set; }
        public ulong ExecutorId { get; set; }
        public string Reason { get; set; } = "Kein Grund angegeben";
        public ulong UnixTime { get; set; }
    }

}